<!-- This is a simple HTML template for displaying a list of invoices -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invoice List</title>
</head>
<body>
	<h1>Invoices</h1>

	<form method="get">
		<label for="customer_name">Filter by customer name:</label>
		<input type="text" id="customer_name" name="customer_name" value="{{ customer_name }}">
		<button type="submit">Filter</button>
	</form>

	<table border="1" align="center" style="width: 70%;">
		<thead>
			<tr>
				<th>Customer</th>
				<th>Year</th>
				<th>Month</th>
				<th>Revenue source</th>
				<th>Invoice amount</th>
				<th>Haircut percent</th>
				<th>Daily advance fee</th>
				<th>Advance duration</th>
				<th>Invoice date</th>
			</tr>
		</thead>
		<tbody>
			{% for invoice in invoices %}
			<tr>
				<td>{{ invoice.customer_name }}</td>
				<td style="text-align: right;">{{ invoice.invoice_date|date:"Y" }}</td>
				<td style="text-align: right;">{{ invoice.invoice_date|date:"F" }}</td>
				<td>{{ invoice.revenue_source_name }}</td>
				<td style="text-align: right;">{{ invoice.adjusted_gross_value }} {{ invoice.currency_code }}</td>
				<td style="text-align: right;">{{ invoice.haircut_percent }}</td>
				<td style="text-align: right;">{{ invoice.daily_advance_fee }}</td>
				<td style="text-align: right;">{{ invoice.advance_duration }} days</td>
				<td style="text-align: right;">{{ invoice.invoice_date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
