<!-- class Invoice(models.Model):
	id = models.AutoField(primary_key=True)
	adjusted_gross_value = models.DecimalField(max_digits=10, decimal_places=2)
	haircut_percent = models.DecimalField(max_digits=5, decimal_places=2)
	daily_advance_fee = models.DecimalField(max_digits=10, decimal_places=2)
	advance_duration = models.IntegerField()
	customer_name = models.CharField(max_length=20)
	customer_id = models.IntegerField()
	revenue_source_id = models.IntegerField()
	revenue_source_name = models.CharField(max_length=30)
	currency_code = models.CharField(max_length=3)
	invoice_date = models.DateField() -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Facturas</title>
</head>
<body>
    <h1>Facturas</h1>

	<form method="get">
        <label for="customer_name">Filtrar por nombre de cliente:</label>
        <input type="text" id="customer_name" name="customer_name" value="{{ customer_name }}">
        <button type="submit">Filtrar</button>
    </form>
	
    <table border="1">
        <thead>
            <tr>
				<th>ID</th>
				<th>Valor Bruto Ajustado</th>
				<th>Porcentaje de Descuento</th>
				<th>Tarifa Diaria de Adelanto</th>
				<th>Duración del Adelanto</th>
				<th>Nombre del Cliente</th>
				<th>ID del Cliente</th>
				<th>ID de la Fuente de Ingresos</th>
				<th>Nombre de la Fuente de Ingresos</th>
				<th>Código de Moneda</th>
				<th>Fecha de Factura</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
				<td>{{ invoice.id }}</td>
				<td>{{ invoice.adjusted_gross_value }}</td>
				<td>{{ invoice.haircut_percent }}</td>
				<td>{{ invoice.daily_advance_fee }}</td>
				<td>{{ invoice.advance_duration }}</td>
				<td>{{ invoice.customer_name }}</td>
				<td>{{ invoice.customer_id }}</td>
				<td>{{ invoice.revenue_source_id }}</td>
				<td>{{ invoice.revenue_source_name }}</td>
				<td>{{ invoice.currency_code }}</td>
				<td>{{ invoice.invoice_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
