body {
	background-color: #212121;
}

.window {
	margin-top: 8%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.title-bar-text {
	font-size: 30px;
}

.window-body {
	font-size: 20px;
}

.invoices-count {
	float: inline-end;
	font-size: 15px;
}

.invoices-info {
	margin-top: 10px;
}