* {
	font-family: 'JetBrains Mono', monospace;
}

body {
	background-color: #212121;
}

h1 {
	color: #1DB954;
	text-align: center;
}

.invoices_table {
	margin-left: auto;
	margin-right: auto;
	color: #B3B3B3;
	background-color: #212121;
	width: 90%;
}